
  #card a{
    color: rgba(179, 7, 7, 1);
  }
  
  
  #card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:100%;
    max-height:50%;
    width: auto;
    height: auto;
    padding: 0.5rem;
  }
  
  #description div{
    text-align: center;
    font-weight: bold;
  }
  
  #description{
    font-size: 0.8rem;
    padding: 0.8rem;
  }
  
  /* #card-footer{
    max-width: 100%;
    position: absolute;
    right: 4%;
    bottom: 4%;
  } */

  .posts_img{
    max-width: 30%;
    max-height: 30%;
    padding-left: 28%;
    padding-right: 35%;
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .card-footer{
    text-align: left;
    color: gray;
    font-size: 80%;
    padding-left: 10%;
  }
  
  .post_card{
    font-size: 120%;
    display: inline;
    /* padding-left: 15%; */
    text-align: center;
    padding: 3%;
  }

  .posts_title{
    font-weight: bold;
    padding: 1%;
  }

  .posts_content{
    display: inline-flex;
    padding-left: 4%;
    text-align: left;
  }

  .posts_content div{
    padding-top: 10%;
  }

  .posts_header{
    text-align: left !important ;
    font-size: 130%;
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    padding-bottom: 1%;
  }

  .author_name{
    color: gray;
    font-size: 70%;
  }

  .posts_desc{
    padding-left: 10%;
    padding-right: 10%;
  }

  .subreddit_link{
    float: right;
    padding-right: 5%;
  }

  .subreddit_link a{
    color: blue;
    font-weight: bold;
  }

  .votes{
    max-width: 100%;
    max-height: 100%;
  }