#user_img{
    max-width: 80%;
    max-height: 80%;
    float: right;
    border-radius: 50%;
}

  .navbar{
    /* background-color: rgba(154, 217, 219 , 0.5); */
    margin: 0;
    padding: 1.5%;
    height: 3rem;
  }
  
  .navbar{
    text-align: center;
    padding-bottom: 1%;
    margin-bottom: 4%;
    margin-top: 1%;
  }
  
  .navbar span:hover{
    border-bottom: 0.3rem lightgrey solid;
    cursor: pointer;
  }
  
  .navbar-select{
    border-bottom: 0.3rem rgba(231, 203, 169, 1.0) solid;
  }

